# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MY Website Profo\Rami_Zaitoun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
